.appbar-base {
  flex-grow: 1;
}

.appbar-menuButton {
  margin-right: 20px;
}

.appbar-title {
  flex-grow: 1;
}

.node-base {
  flex-grow: 1;
}

.node-title {
  flex-grow: 1;
}

.node-menuButton {
  margin-right: 10px;
}

.dialog-addnode-base {
  /* width: 80vw; */
}